@charset "utf-8";

/*** Myapp CSS Document *************************************

	development.css
	開発チーム用スタイルシート

----------------------------------------------------------------***/

.display-none {
	display: none;
}

.display-block {
	display: block;
}

.display-inline {
	display: inline;
}

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

